<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
  </div>
  <% end %>

  <p class="howto">
    不具合，ご質問等のフォームになります<br>
    必要事項を入力して送信ボタンを押してください
  </p>

  <%# name %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: t("guide.name_placeholder") %>
  </div>

  <%# email %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control', placeholder: t("guide.email_placeholder") %>
  </div>

  <%# department %>
  <div class="form-group">
    <%= f.label :department %>
    <%= f.select :department, Department.all.collect{|t|[t.name, t.id]}, {prompt: t("guide.please_select")}, class: "form-control" %>
  </div>

  <%# subject %>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.select :subject, {"動作不良" => "bug", "その他" => "other"}, {}, class: "form-control" %>
  </div>

  <%# body %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, size: "50x10", class: 'form-control', placeholder: t("guide.contact_body") %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
