<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="my_contents">
  <h2>1. デザイン選択</h2>

  <%# Paper %>
  <div class="form-group has-success">
    <%= f.label :paper_template %><span class="asd">(必須)</span>
    <%= f.select :paper_template, @papers.collect{|t|[t.name,t.id]}, {prompt: t("guide.please_select")}, class: "form-control" %>
  </div>

  <%# Card %>
  <div class="form-group has-success">
    <%= f.label :card_template %><span class="asd">(必須)</span>
    <%= f.select :card_template, @cards.collect{|t|[t.name,t.id]}, {prompt: t("guide.please_select")}, class: "form-control" %>
  </div>



</div>
<div class="my_contents">
  <h2>2. 情報入力</h2>
  <%# Full Name %>
  <div class="form-group has-success">
    <%= f.label :name %><span class="asd">(必須)</span>
    <%= f.text_field :name, class: 'form-control', placeholder: t("guide.name_placeholder") %>
  </div>

  <%# Name Furigana %>
  <div class="form-group has-success">
    <%= f.label :kana_name %><span class="asd">(必須)</span>
    <%= f.text_field :kana_name, class: 'form-control', required: true, placeholder: '名前を入力してください' %>
  </div>

  <%# postacode %>
  <div class="form-group has-success">
    <%= f.label :postalcode, style: "display: block;" %></span>
    <%= f.text_field :postalcode, class: 'form-control', style: "display: inline; width: 25%" %>
    <%= f.button t("guide.postalcode_submit"), id: "getarea-button", type: "button", class: "btn btn-default" %>
    <span id="postalcode-result"></span>
  </div>

  <%# prefectural %>
  <% if false %>
  <div class="form-group has-success">
    <%= f.label :address_prefectural %>
    <%= f.select :address_prefectural, @prefectural.collect{|t|[t.name,t.id]}, {prompt: t("guide.please_select")}, class: "form-control selectpicker" %>
  </div>
  <% end %>

 <div class="form-group has-success">
    <%= f.label :address_prefectural %>
    <%= f.select :address_prefectural, @prefectural.collect{|t|[t.name,t.id]}, {prompt: t("guide.please_select")}, class: "form-control" %>
 </div>


 <%# city %>
 <div class="form-group has-success">
    <%= f.label :address_city %>
    <%= f.text_field :address_city, class: "form-control" %>
 </div>

 <%# street %>
 <div class="form-group has-success">
    <%= f.label :address_street %>
    <%= f.text_field :address_street, class: "form-control" %>
 </div>

 <%# building %>
 <div class="form-group has-success">
    <%= f.label :address_building %>
    <%= f.text_field :address_building, class: "form-control" %>
 </div>

 <%# telephone %>
 <div class="form-group has-success">
    <%= f.label :tel %>
    <%= f.text_field :tel, class: "form-control" %>
  </div>

  <%# email address %>
  <div class="form-group has-success">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <%# free text %>
  <div class="form-group has-success">
    <%= f.label :free_text %>
    <%= f.text_field :free_text, class: "form-control" %>
  </div>

  <%# department %>
  <div class="form-group has-success">
    <%= f.label :department %>
    <%= f.select :department, Department.all.collect{|t|[t.name, t.id]}, {prompt: t("guide.please_select")}, class: "form-control" %>
  </div>

  <%# course %>
  <div class="form-group has-success">
    <%= f.label :course %>
    <%= f.select :course, options_for_select(@course.collect{|course|[course.name, course.id]}, 0), {}, class: "form-control" %>
  </div>

  <%# laboratory %>
  <div class="form-group has-success">
    <%= f.label :laboratory %>
    <%= f.select :laboratory, options_for_select(@laboratory.collect{|laboratory|[laboratory.name, laboratory.id]}, 0), {}, class: "form-control" %>
  </div>
</div>


<div class="my_contents">
  <div class="actions">
    <%= f.submit "ダウンロード", class: "center-block btn btn-primary" %>
  </div>
</div>
<% end %>
